/* ------------------------------------------
+ body

  Blog CSS

--------------------------------------------- */
/* Import Fonts & All CSS */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i");



/* :: 01.0 Reboot CSS */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
  font-weight: 100;
  font-size: 8px;
  position: relative;
  z-index: auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #252525;
  line-height: 1.3;
  font-weight: 600; }

a,
a:active,
a:focus,
a:hover {
  color: #252525;
  text-decoration: none;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  outline: none;
  font-weight: 500; }

li {
  list-style: none; }

p {
  line-height: 1.9;
  color: #636363;
  font-size: 16px;
  font-weight: 400; }

img {
  width: auto;               /*changed the width from 100% to auto*/
  height: auto; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    margin: 0;
    padding: 0; }

.bg-overlay {
  position: relative;
  z-index: 1; }
  .bg-overlay::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.4); }

.bg-img {
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important; }

.jarallax {
  position: relative;
  z-index: 0; }
  .jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  position: fixed;
  z-index: 100;
  color: #ffffff;
  right: 20px;
  text-align: center;
  padding-right: 0;
  width: 100%;
  top: 20px;
  width: 30px;
  background: #8df3f7;
  height: 30px;
  line-height: 30px; }

img.mfp-img {
  -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15); }

button.mfp-close,
button.mfp-arrow {
  background: #8df3f7; }

.mfp-bottom-bar {
  display: none !important; }

.mfp-bg {
  background-color: #000000; }

.bg-transparent {
  background-color: transparent !important; }

.bg-gray {
  background-color: #f7f7f7 !important; }

textarea:focus,
input:focus {
  outline: none; }

textarea:invalid,
input:invalid,
textarea:required,
input:required {
  box-shadow: none !important; }

.border {
  border-color: #ebebeb; }

.mfp-arrow-left::after {
  border-right-color: transparent; }

.mfp-arrow-left::before {
  border-right-color: #ffffff; }

.mfp-arrow-right::after {
  border-left-color: transparent; }

.mfp-arrow-right::before {
  border-left-color: #ffffff; }

/* :: 02.0 Spacing CSS */
.mt-15 {
  margin-top: 15px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-70 {
  margin-top: 70px; }

.mt-80 {
  margin-top: 80px; }

.mt-100 {
  margin-top: 100px; }

.mt-150 {
  margin-top: 150px; }

.mr-15 {
  margin-right: 15px; }

.mr-30 {
  margin-right: 30px; }

.mr-50 {
  margin-right: 50px; }

.mr-100 {
  margin-right: 100px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-100 {
  margin-bottom: 100px; }

.ml-15 {
  margin-left: 15px; }

.ml-30 {
  margin-left: 30px; }

.ml-50 {
  margin-left: 50px; }

.ml-100 {
  margin-left: 100px; }

.pt-50 {
  padding-top: 50px !important; }

.section-padding-80 {
  padding-top: 80px;
  padding-bottom: 80px; }

.section-padding-0-80 {
  padding-top: 0;
  padding-bottom: 80px; }

.section-padding-80-0 {
  padding-top: 80px;
  padding-bottom: 0; }

.section-padding-80-50 {
  padding-top: 80px;
  padding-bottom: 50px; }

.section-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.section-padding-0-100 {
  padding-top: 0;
  padding-bottom: 100px; }

.section-padding-100-0 {
  padding-top: 100px;
  padding-bottom: 0; }

/* :: 13.0 Blog CSS */
.blog-details-text {
  position: relative;
  z-index: 1; }
  .blog-details-text .row {
    margin-right: -5px;
    margin-left: -5px; }
    .blog-details-text .row .col-12 {
      padding-right: 5px;
      padding-left: 5px; }
  .blog-details-text p {
    font-size: 18px;
    margin-bottom: 20px; }

.mp-blockquote {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  margin-top: 30px;
  border-left: 3px solid #8df3f7;
  padding-left: 30px; }
  .mp-blockquote h4 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #161715;
    line-height: 1.5;
    font-weight: 400; }
    @media only screen and (max-width: 767px) {
      .mp-blockquote h4 {
        font-size: 18px; } }
  .mp-blockquote h6 {
    font-size: 18px;
    color: #8df3f7;
    text-transform: uppercase;
    margin-bottom: 0; }
    @media only screen and (max-width: 767px) {
      .mp-blockquote h6 {
        font-size: 14px; } }

.post-author-area {
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 767px) {
    .post-author-area {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media only screen and (max-width: 767px) {
    .post-author-area .popular-tags {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      margin-bottom: 30px; } }
  .post-author-area .popular-tags li {
    display: inline-block;
    float: left;
    margin: 3px; }
  @media only screen and (max-width: 767px) {
    .post-author-area .post-social-info {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%; } }
  .post-author-area .post-social-info p {
    margin-bottom: 0;
    margin-right: 20px;
    color: #252525; }
  .post-author-area .post-social-info a {
    display: inline-block;
    color: #625b66;
    margin-right: 20px;
    font-size: 14px; }
    .post-author-area .post-social-info a:last-child {
      margin-right: 0; }
    .post-author-area .post-social-info a:hover, .post-author-area .post-social-info a:focus {
      color: #8df3f7; }

.mp-pager-area {
  position: relative;
  z-index: 1; }
  .mp-pager-area .previous,
  .mp-pager-area .next {
    width: 100%;
    position: relative;
    z-index: 1;
    height: 290px; }
    @media only screen and (max-width: 767px) {
      .mp-pager-area .previous,
      .mp-pager-area .next {
        height: 180px; } }
    .mp-pager-area .previous::after,
    .mp-pager-area .next::after {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.7);
      top: 0;
      left: 0;
      content: '';
      opacity: 0;
      visibility: hidden; }
    .mp-pager-area .previous .overlay-content,
    .mp-pager-area .next .overlay-content {
      position: absolute;
      width: 70%;
      height: 100%;
      top: 0;
      left: 15%;
      text-align: center;
      z-index: 100; }
      .mp-pager-area .previous .overlay-content .post-title,
      .mp-pager-area .next .overlay-content .post-title {
        font-size: 24px;
        color: #ffffff;
        margin-bottom: 0; }
        @media only screen and (max-width: 767px) {
          .mp-pager-area .previous .overlay-content .post-title,
          .mp-pager-area .next .overlay-content .post-title {
            font-size: 14px; } }
        .mp-pager-area .previous .overlay-content .post-title:hover, .mp-pager-area .previous .overlay-content .post-title:focus,
        .mp-pager-area .next .overlay-content .post-title:hover,
        .mp-pager-area .next .overlay-content .post-title:focus {
          color: #8df3f7; }
      .mp-pager-area .previous .overlay-content .previous-link,
      .mp-pager-area .previous .overlay-content .next-link,
      .mp-pager-area .next .overlay-content .previous-link,
      .mp-pager-area .next .overlay-content .next-link {
        -webkit-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        left: -10%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 30px;
        color: #ffffff;
        z-index: 100;
        opacity: 0; }
        .mp-pager-area .previous .overlay-content .previous-link:hover, .mp-pager-area .previous .overlay-content .previous-link:focus,
        .mp-pager-area .previous .overlay-content .next-link:hover,
        .mp-pager-area .previous .overlay-content .next-link:focus,
        .mp-pager-area .next .overlay-content .previous-link:hover,
        .mp-pager-area .next .overlay-content .previous-link:focus,
        .mp-pager-area .next .overlay-content .next-link:hover,
        .mp-pager-area .next .overlay-content .next-link:focus {
          color: #8df3f7; }
    .mp-pager-area .previous:hover::after, .mp-pager-area .previous:focus::after,
    .mp-pager-area .next:hover::after,
    .mp-pager-area .next:focus::after {
      opacity: 1;
      visibility: visible; }
    .mp-pager-area .previous:hover .previous-link,
    .mp-pager-area .previous:hover .next-link, .mp-pager-area .previous:focus .previous-link,
    .mp-pager-area .previous:focus .next-link,
    .mp-pager-area .next:hover .previous-link,
    .mp-pager-area .next:hover .next-link,
    .mp-pager-area .next:focus .previous-link,
    .mp-pager-area .next:focus .next-link {
      opacity: 1; }
  .mp-pager-area .next .overlay-content .next-link {
    left: auto;
    right: -10%; }

.pagination {
  position: relative;
  z-index: 1; }
  .pagination .page-item:last-child .page-link {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  .pagination .page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .pagination .page-link {
    padding: 12px 15px;
    color: #252525;
    border: none;
    background-color: #f7f7f7;
    margin-right: 5px;
    border-radius: 3px; }
    .pagination .page-link:hover, .pagination .page-link:focus {
      background-color: #8df3f7;
      color: #ffffff;
      border-color: #8df3f7; }
    .pagination .page-link:focus {
      box-shadow: none; }

.comment_area {
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb; }
  .comment_area .single_comment_area {
    position: relative;
    z-index: 1; }
    .comment_area .single_comment_area::after {
      position: absolute;
      width: 1px;
      background-color: #ebebeb;
      height: 100%;
      content: '';
      top: 0;
      left: 90px;
      z-index: 1; }
      @media only screen and (max-width: 767px) {
        .comment_area .single_comment_area::after {
          left: 50px; } }
    .comment_area .single_comment_area .single_comment_area::after {
      display: none; }
  .comment_area .comment-content {
    position: relative;
    z-index: 1;
    margin-bottom: 40px; }
    .comment_area .comment-content .comment-author {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
      flex: 0 0 70px;
      width: 70px;
      max-width: 70px;
      margin-right: 40px;
      border-radius: 50%; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-author {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 40px;
          flex: 0 0 40px;
          width: 40px;
          max-width: 40px;
          margin-right: 20px; } }
      .comment_area .comment-content .comment-author img {
        border-radius: 50%; }
    .comment_area .comment-content .comment-meta .post-date {
      font-size: 12px;
      text-transform: uppercase;
      display: block;
      margin-bottom: 5px;
      font-weight: 300;
      color: #b2b2b2;
      letter-spacing: 1px; }
      .comment_area .comment-content .comment-meta .post-date:hover, .comment_area .comment-content .comment-meta .post-date:focus {
        color: #8df3f7; }
    .comment_area .comment-content .comment-meta h5 {
      margin-bottom: 5px;
      font-size: 18px; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-meta h5 {
          font-size: 16px; } }
    .comment_area .comment-content .comment-meta p {
      color: #636363;
      font-size: 14px; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-meta p {
          font-size: 13px; } }
    .comment_area .comment-content .comment-meta .like,
    .comment_area .comment-content .comment-meta .reply {
      display: inline-block;
      padding: 5px 25px 5px;
      font-size: 12px;
      font-weight: 600;
      border: 1px solid #ebebeb;
      text-transform: uppercase;
      border-radius: 2px; }
      .comment_area .comment-content .comment-meta .like:focus, .comment_area .comment-content .comment-meta .like:hover,
      .comment_area .comment-content .comment-meta .reply:focus,
      .comment_area .comment-content .comment-meta .reply:hover {
        border-color: #8df3f7;
        background-color: #8df3f7;
        color: #ffffff; }
  .comment_area .children {
    margin-left: 120px; }
    @media only screen and (max-width: 767px) {
      .comment_area .children {
        margin-left: 60px; } }
    .comment_area .children .single_comment_area:last-of-type {
      margin-bottom: 0; }
    .comment_area .children .single_comment_area .comment-author {
      margin-right: 20px; }
      @media only screen and (max-width: 767px) {
        .comment_area .children .single_comment_area .comment-author {
          margin-right: 10px; } }

.mp-blog-area {
  position: relative;
  z-index: 1; }
  .mp-blog-area .row {
    margin-right: -5px;
    margin-left: -5px; }
    .mp-blog-area .row .col-12 {
      padding-right: 5px;
      padding-left: 5px; }

.single-post-area {
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }
  .single-post-area::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
    z-index: 1; }
  .single-post-area .post-thumbnail {
    display: block;
    overflow: hidden; }
    .single-post-area .post-thumbnail img {
      width: 100%;
      -webkit-transition-duration: 800ms;
      -o-transition-duration: 800ms;
      transition-duration: 800ms; }
  .single-post-area .post-catagory {
    position: absolute;
    padding: 2px 15px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #8df3f7;
    top: 15px;
    right: 15px;
    z-index: 20;
    font-weight: 500; }
    .single-post-area .post-catagory:hover, .single-post-area .post-catagory:focus {
      font-weight: 500;
      background-color: #000000; }
  .single-post-area .post-content {
    position: absolute;
    left: 30px;
    bottom: 30px;
    right: 30px;
    z-index: 100; }
    .single-post-area .post-content .post-meta {
      position: relative;
      z-index: 1;
      margin-bottom: 5px; }
      .single-post-area .post-content .post-meta a {
        position: relative;
        z-index: 1;
        font-size: 13px;
        color: #ffffff;
        font-weight: 300;
        margin-right: 21px; }
        .single-post-area .post-content .post-meta a:last-child::after {
          content: '|';
          position: absolute;
          top: 0;
          left: -11px;
          z-index: 1; }
        .single-post-area .post-content .post-meta a:hover, .single-post-area .post-content .post-meta a:focus {
          color: #8df3f7; }
          .single-post-area .post-content .post-meta a:hover::after, .single-post-area .post-content .post-meta a:focus::after {
            color: #ffffff; }
    .single-post-area .post-content .post-title {
      font-size: 20px;
      color: #ffffff;
      margin-bottom: 0; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single-post-area .post-content .post-title {
          font-size: 16px; } }
      .single-post-area .post-content .post-title:hover, .single-post-area .post-content .post-title:focus {
        color: #8df3f7; }
  .single-post-area:hover .post-thumbnail img, .single-post-area:focus .post-thumbnail img {
    -webkit-transform: scale(1.4) rotate(10deg);
    -ms-transform: scale(1.4) rotate(10deg);
    transform: scale(1.4) rotate(10deg); }

.related-news-area {
  position: relative;
  z-index: 1; }
  .related-news-area .row {
    margin-right: -5px;
    margin-left: -5px; }
    .related-news-area .row .col-12 {
      padding-right: 5px;
      padding-left: 5px; }


