#preloader{

    background: #000 url("C:\Users\AA21437\Documents\Personal\Missing_Palette\img\mp.gif") no-repeat center center;
    background-size: 100%;
    height: 100%;
    width:100%;
    position: fixed;
    z-index: 400; 

}